* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
}

p {
	font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: whitesmoke;
}

a,
button,
input {
  font-family: inherit;
}

input {
  color: black;
}

button {
  cursor: pointer;
}

nav {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.log-out-btn {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 1rem;
  background-color: rebeccapurple;
  color: white;
}

.hangman {
  padding-top: 4rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* max-width: 80rem;  */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 2rem; */
  /* margin: 0 auto;  */
  /* align-items: center; */
}

.upper-part-container {
  display: flex;
  justify-content: space-around;
}

.new-word-and-result-message-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.new-word-btn {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: yellow;
  color: black;
}

.win-or-lose-message {
  height: 6rem; /* Gäller denna även när den är tom? */
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.drawing {
  position: relative;
  font-size: 1rem;
  width: 40rem;
  height: 35rem;
}

.beam-1 {
  position: absolute;
  left: 0;
  top: 30em;
  width: 25em;
  height: 1em;
  background-color: white;
}

.beam-2 {
  position: absolute;
  top: 0;
  left: 12em;
  width: 1em;
  height: 30em;
  background-color: white;
}

.beam-3 {
  position: absolute;
  top: 0;
  left: 13em;
  height: 1em;
  width: 17em;
  background-color: white;
}

.beam-4 {
  position: absolute;
  top: 1em;
  left: 29em;
  height: 5em;
  width: 1em;
  background-color: white;
}

.head {
  position: absolute;
  top: 6em;
  left: 27em;
  width: 5em;
  height: 5em;
  background-color: none;
  border: 1em solid white;
  border-radius: 100%;
}

.upper-body {
  position: absolute;
  top: 11em;
  left: 29em;
  width: 1em;
  height: 8em;
  background-color: white;
}

.left-arm {
  position: absolute;
  background-color: white;
  width: 6em;
  height: 1em;
  top: 11em;
  left: 29.5em;
  rotate: 120deg;
  transform-origin: left center;
}

.right-arm {
  position: absolute;
  background-color: white;
  width: 6em;
  height: 1em;
  top: 11em;
  left: 29.5em;
  rotate: 60deg;
  transform-origin: left center;
}

.left-leg {
  position: absolute;
  background-color: white;
  width: 7.5em;
  height: 1em;
  top: 17.5em;
  left: 29.5em;
  rotate: 120deg;
  transform-origin: left center;
}

.right-leg {
  position: absolute;
  background-color: white;
  width: 7.5em;
  height: 1em;
  top: 17.5em;
  left: 29.5em;
  rotate: 60deg;
  transform-origin: left center;
}

.word-mobile-view {
  display: none;
}

.word {
  display: flex;
  gap: 1rem;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 50%;
  margin: auto;
}

.keyboard-btn {
  width: 7rem;
  border: 3px solid white;
  background-color: none;
  aspect-ratio: 1 / 1;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.correct-letter-btn {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.incorrect-letter-btn {
  opacity: 0.3;
}

.keyboard-btn:hover:not(:disabled),
.keyboard-btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  animation: fadeIn 0.3s ease-in-out;
}

.middle-of-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: scaleIn 0.3s ease-in-out;
}

/* Fade in animation for overlay */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Scale in animation for modal */
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.high-score-headers,
.high-score-users {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.high-score-header-group {
	display: flex;	
	align-items: center;
}

.high-score-header-group h2 {
	margin-right: 2rem;
}

.high-score-header-group,
.user-record-data {
	width: 17rem;
}

/* .user-record-data {
	text-align: center;
} */

.arrow-up {
  background-image: url(./images/icons8-arrow-up-30.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;  
}

.arrow-down {
  background-image: url(./images/icons8-arrow-down-30.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem; 
}
