@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-color: rgb(12, 13, 11);
  color: white;
  width: 100vw;
  min-height: 100vh;
}

.login-register h1,
.not-found h1 {
  font-size: 4rem;
}

nav p,
.middle-of-overlay p,
.loading p,
.no-users-exist {
  font-size: 1.6rem;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.hangman-link-in-nav,
.not-found a {
  font-size: 1.6rem;
  color: white;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
}

a,
button,
input {
  font-family: inherit;
}

input {
  color: black;
  width: 35rem;
  height: 4rem;
  font-size: 1.6rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: none;
}

label {
  font-size: 1.4rem;
}

.start {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.start h1 {
  font-family: "Creepster", cursive;
  text-shadow: 2px 2px gray;
  font-size: 7rem;
  margin-top: 5vh;
}

.skeleton-image-container {
  background-image: url(./images/skeleton-image.png);
  width: 25rem;
  height: 50rem;
  background-size: cover;
  background-position: center;
}

.start-links {
  width: 40%;
  display: flex;
}

.start-link {
  color: white;  
  font-size: 2.5rem;
  width: 50%;
  text-align: center;
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1),
    0 0 30px rgba(255, 255, 255, 0.08);
}

.start-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.link-to-start-in-login-register {
  font-size: 1.6rem;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1),
    0 0 30px rgba(255, 255, 255, 0.08);
}

.link-to-start-in-login-register:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.login-register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-register-upper-part {
  padding-bottom: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.link-to-start-in-login-register {
  font-size: 2rem;
}

.login-register button {
  background-color: orange;
  padding: 1rem 2rem;
  font-size: 1.8rem;
}

.login-register button:hover {
  background-color: rgb(186, 128, 21);
}

.label-and-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.logged-in-container {
  height: 100vh;
}

nav {
  width: 100vw;
  padding: 0 5%;
  height: 7vh;
  background-color: rgb(12, 13, 11);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 150, 255, 0.2);
}

.high-score-link-in-nav {
  font-size: 1.6rem;
  background-color: inherit;
  color: white;
}

.log-out-btn {
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  background-color: rgb(139, 13, 13);
  color: white;
}

nav img {
  display: none;
}

.hangman {
  height: 93vh;
  padding: 4rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hangman-upper-part {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  margin-bottom: 3rem;
}

.hangman-upper-left-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-word-btn {
  padding: 1rem;
  width: 10rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 1rem;
  background-color: orange;
  color: black;
}

.win-or-lose-message {
  height: 6rem; /* Gäller denna även när den är tom? */
  display: flex;
  align-items: center;
}

.win-or-lose-message p {
  font-size: 3rem;
}

.drawing {
  position: relative;
  font-size: 1rem;
  width: 33rem;
  height: 39rem;
}

.beam-1 {
  position: absolute;
  left: 0;
  top: 38em;
  width: 25em;
  height: 1em;
  background-color: white;
}

.beam-2 {
  position: absolute;
  top: 0;
  left: 12em;
  width: 1em;
  height: 38em;
  background-color: white;
}

.beam-3 {
  position: absolute;
  top: 0;
  left: 13em;
  height: 1em;
  width: 17em;
  background-color: white;
}

.beam-4 {
  position: absolute;
  top: 1em;
  left: 29em;
  height: 5em;
  width: 1em;
  background-color: white;
}

.head {
  position: absolute;
  top: 6em;
  left: 27em;
  width: 5em;
  height: 5em;
  background-color: none;
  border: 1em solid white;
  border-radius: 100%;
}

.upper-body {
  position: absolute;
  top: 11em;
  left: 29em;
  width: 1em;
  height: 8em;
  background-color: white;
}

.left-arm {
  position: absolute;
  background-color: white;
  width: 6em;
  height: 1em;
  top: 11em;
  left: 29.5em;
  rotate: 120deg;
  transform-origin: left center;
}

.right-arm {
  position: absolute;
  background-color: white;
  width: 6em;
  height: 1em;
  top: 11em;
  left: 29.5em;
  rotate: 60deg;
  transform-origin: left center;
}

.left-leg {
  position: absolute;
  background-color: white;
  width: 7.5em;
  height: 1em;
  top: 17.5em;
  left: 29.5em;
  rotate: 120deg;
  transform-origin: left center;
}

.right-leg {
  position: absolute;
  background-color: white;
  width: 7.5em;
  height: 1em;
  top: 17.5em;
  left: 29.5em;
  rotate: 60deg;
  transform-origin: left center;
}

.word-mobile-view {
  display: none;
}

.word {
  display: flex;
  gap: 1rem;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.word-outer-span {
  border-bottom: 0.4rem solid white;
  height: 4.9rem;
  display: inline-block;
  width: 3.8rem;
  text-align: center;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.2rem;
  margin: 0 auto 2rem;
  justify-content: center;
}

.keyboard-btn {
  padding: 2.2rem;
  aspect-ratio: 1 / 1;
  font-size: 3.3rem;
  line-height: 1;
  vertical-align: middle;
  background-color: white;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}

.keyboard-btn:hover:not(:disabled):not(.correct-letter-btn):not(
    .incorrect-letter-btn
  ) {
  background-color: orange;
  color: white;
}

.correct-letter-btn {
  background-color: orange;
  color: white;
  border-color: darkorange;
}

.incorrect-letter-btn {
  background-color: white;
  color: black;
  opacity: 0.3;
  border-color: lightgray;
}

.keyboard-btn:disabled {
  cursor: default;
  pointer-events: none;
}

.keyboard-btn:hover:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  animation: fadeIn 0.3s ease-in-out;
}

.middle-of-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: scaleIn 0.3s ease-in-out;
}

.middle-of-overlay button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

.yes-or-cancel-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.yes-or-cancel-buttons button {
  font-size: 1.6rem;
  background-color: orange;
  padding: 1rem 2rem;
}

/* Fade in animation for overlay */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Scale in animation for modal */
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.high-score {
  padding-top: 4rem;
  padding-left: 2rem;
}

.high-score p {
  font-size: 1.7rem;
}

.high-score-headers,
.high-score-user {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.high-score-header-group {
  display: flex;
  align-items: center;
}

.high-score-header-group h2 {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.col-1 {
  width: 23rem;
}

.col-2 {
  width: 30.5rem;
}

.col-3 {
  width: 33.5rem;
}

.col-4 {
  width: 33.5rem;
}

.margin-right-table {
  margin-right: 15rem;
}

.direction-1 {
  color: black;
  background-color: rgb(87, 147, 87);
  font-size: 1.1rem;
  padding: 1rem 0.2rem;
}

.direction-2 {
  color: black;
  background-color: rgb(193, 91, 91);
  font-size: 1.1rem;
  padding: 1rem 0.2rem;
}

@media (max-width: 1800px) {
  .skeleton-image-container {
    width: 18rem;
    height: 36rem;
  }

  .keyboard-btn {
    padding: 2rem;
    font-size: 3rem;
  }

  .high-score-header-group h2 {
    font-size: 2rem;
  }

  .margin-right-table {
    margin-right: 10rem;
  }
}

@media (max-width: 1450px) {
  .start h1 {
    font-size: 5rem;
    margin-top: 10vh;
  }

  .skeleton-image-container {
    width: 15rem;
    height: 30rem;
  }

  .start-link {
    font-size: 2rem;
  }

  .hangman-upper-part {
    padding: 0 5%;
  }

  .win-or-lose-message p {
    font-size: 2.2rem;
  }

  .drawing {
    font-size: 0.8rem;
    width: 26.4rem;
    height: 31.2rem;
  }

  .keyboard-btn {
    padding: 1.9rem;
    font-size: 2.85rem;
  }

  .high-score-header-group h2 {
    font-size: 1.8rem;
  }

  .margin-right-table {
    margin-right: 5rem;
  }

  .direction-1 {
    font-size: 0.9rem;
  }

  .direction-2 {
    font-size: 0.9rem;
  }
}

@media (max-width: 1140px) {
  nav {
    height: 9vh;
  }

  .hangman {
    height: 91vh;
  }

  .skeleton-image-container {
    width: 14rem;
    height: 28rem;
  }

  .start-links {
    width: 50%;
  }

  .start-link {
    font-size: 1.8rem;
  }

  .drawing {
    font-size: 0.6rem;
    width: 19.8rem;
    height: 23.4rem;
  }

  .word {
    font-size: 2.7rem;
  }

  .word-outer-span {
    border-bottom: 0.3rem solid white;
    height: 4.3rem;
    width: 2.8rem;
  }

  .high-score-header-group h2 {
    font-size: 1.5rem;
  }

  .margin-right-table {
    margin-right: 2rem;
  }

  .high-score p {
    font-size: 1.4rem;
  }
}

@media (max-width: 950px) {
  .skeleton-image-container {
    width: 12rem;
    height: 24rem;
  }

  .login-register h1,
  .not-found h1 {
    font-size: 3rem;
  }

  nav p,
  .middle-of-overlay p,
  .loading p,
  .no-users-exist {
    /* Kanske ändra för vissa */
    font-size: 1.4rem;
  }

  input {
    width: 30rem;
    height: 3.5rem;
  }

  .login-register-upper-part {
    padding-bottom: 12rem;
  }

  .link-to-start-in-login-register {
    font-size: 1.7rem;
  }

  .login-register button {
    font-size: 1.7rem;
  }

  .log-out-btn {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }

  .high-score-link-in-nav {
    font-size: 1.4rem;
  }

  .win-or-lose-message p {
    font-size: 1.8rem;
  }

  .drawing {
    font-size: 0.5rem;
    width: 16.5rem;
    height: 19.5rem;
  }

  .word {
    font-size: 2.2rem;
  }

  .word-outer-span {
    height: 3.7rem;
    width: 2.5rem;
  }

  .keyboard-btn {
    padding: 1.6rem;
    font-size: 2.4rem;
  }

  .high-score-sorting-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .margin-right-table {
    margin-right: 3rem;
  }

  .col-1 {
    width: 11rem;
  }

  .col-2 {
    width: 15rem;
  }

  .col-3 {
    width: 17rem;
  }

  .col-4 {
    width: 17rem;
  }
}

@media (max-width: 770px) {
  .start-link {
    font-size: 1.6rem;
  }

  .hangman {
    padding-top: 2rem;
  }

  .new-word-btn {
    width: 8rem;
    font-size: 1.4rem;
  }

  .win-or-lose-message p {
    font-size: 1.4rem;
  }

  .word-desktop-view {
    display: none;
  }

  .word-mobile-view {
    display: flex;
    justify-content: center;
  }

  .word {
    font-size: 2rem;
  }

  .word-outer-span {
    border-bottom: 0.2rem solid white;
    height: 3.2rem;
    width: 2.3rem;
  }

  .drawing {
    font-size: 0.4rem;
    width: 13.2rem;
    height: 15.6rem;
  }

  .keyboard-btn {
    padding: 1.4rem;
    font-size: 2.1rem;
  }

  .high-score-headers {
    margin-bottom: 4rem;
  }

  .high-score-header-group {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .high-score-header-group h2 {
    margin-right: 0;
  }

  .margin-right-table {
    margin-right: 5rem;
  }

  .col-1 {
    width: 5.5rem;
  }

  .col-2 {
    width: 7.5rem;
  }

  .col-3 {
    width: 9.5rem;
  }

  .col-4 {
    width: 9.5rem;
  }
}

@media (max-width: 550px) {
  nav p,
  .middle-of-overlay p,  /* Kanske ändra för vissa */
  .loading p,
  .no-users-exist {
    font-size: 1.3rem;
  }

  input {
    width: 25rem;
  }

  .start h1 {
    font-size: 4rem;
  }

  .skeleton-image-container {
    width: 13rem;
    height: 26rem;
  }

  .start-links {
    width: 65%;
  }

  .log-out-btn {
    font-size: 1.3rem;
    padding: 0.4rem 0.8rem;
  }

  .word {
    font-size: 1.7rem;
    gap: 0.5rem;
  }

  .word-outer-span {
    height: 2.8rem;
    width: 1.9rem;
  }

  .keyboard {
    grid-template-columns: repeat(6, 1fr);
  }

  .keyboard-btn {
    padding: 1.7rem;
    font-size: 2.55rem;
  }

  .margin-right-table {
    margin-right: 3rem;
  }
}

@media (max-width: 480px) {
  /*  Mobilvy */

  input {
    width: 23rem;
  }

  .start-links {
    width: 75%;
  }

  .hangman-upper-part {
    margin-bottom: 1rem;
  }

  .new-word-btn {
    width: 7rem;
    font-size: 1.2rem;
  }

  .high-score-link-in-nav,
  .log-out-btn,
  .hangman-link-in-nav {
    display: none;
  }

  nav img {
    display: block;
    width: 3.5rem;
  }

  nav img:hover {
    cursor: pointer;
  }

  .hamburger-menu-open-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 400;
    background: transparent;
  }

  .hamburger-menu-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 25vh;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 2rem;
    background-color: rgb(70, 70, 69);
    border-bottom: 1px solid white;
  }

  .hangman-link-in-nav-mobile-view {
    color: white;
    font-size: 1.6rem;
  }

  .close-hamburger-menu {
    font-size: 1.6rem;
    background-color: inherit;
    padding: 0;
    align-self: flex-end;
    color: white;
  }

  .high-score-link-in-nav-mobile-view,
  .log-out-btn-mobile-view,
  .hangman-link-in-nav-mobile-view {
    font-size: 1.6rem;
    padding: 0;
    background-color: inherit;
    color: white;
  }

  .high-score-header-group h2 {
    font-size: 1.2rem;
  }

  .high-score p {
    font-size: 1.2rem;
  }

  .margin-right-table {
    margin-right: 1rem;
  }

  .col-1 {
    width: 5.5rem;
  }

  .col-2 {
    width: 6rem;
  }

  .col-3 {
    width: 8rem;
  }

  .col-4 {
    width: 8rem;
  }
}

@media (max-width: 430px) {
  .start h1 {
    font-size: 3rem;
    margin-top: 15vh;
  }

  .skeleton-image-container {
    width: 10rem;
    height: 20rem;
  }

  .start-links {
    width: 80%;
  }

  .start-link {
    font-size: 1.3rem;
  }

  .word {
    font-size: 1.6rem;
    gap: 0.2rem;
  }

  .word-outer-span {
    height: 2.6rem;
    width: 1.7rem;
  }

  .keyboard-btn {
    padding: 1.5rem;
    font-size: 2.25rem;
  }
}

@media (max-width: 350px) {
  .start-links {
    width: 90%;
  }

  .start-link {
    font-size: 1.2rem;
  }

  .keyboard-btn {
    padding: 1.4rem;
    font-size: 2.1rem;
  }

  .high-score-header-group h2 {
    font-size: 1rem;
  }
}

/* Landscape view, mobile devices */

@media (max-width: 1130px) and (max-height: 490px) {
  .start h1 {
    font-size: 2.5rem;
    margin-top: 5vh;
  }

  .skeleton-image-container {
    width: 12rem;
    height: 24rem;
  }

  .start-links {
    width: 50%;
  }

  .start-link {
    font-size: 1.6rem;
  }

  .login-register h1 {
    font-size: 2.8rem;
  }

  .login-register-upper-part {
    padding-bottom: 7rem;
  }

  .link-to-start-in-login-register {
    font-size: 1.8rem;
  }

  nav {
    height: 10vh;
  }

  nav p {
    font-size: 1.4rem;
  }

  .hangman-link-in-nav {
    font-size: 1.5rem;
  }

  .log-out-btn {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }

  .hangman {
    height: 90vh;
  }

  .hangman-upper-part {
    padding: 0 12%;
    margin-bottom: 0;
  }

  .new-word-btn {
    width: 9rem;
    font-size: 1.4rem;
  }

  .win-or-lose-message p {
    font-size: 1.5rem;
  }

  .word {
    font-size: 2.8rem;
    gap: 0.6rem;
  }

  .word-outer-span {
    height: 4.3rem;
    width: 2.5rem;
  }

  .drawing {
    font-size: 0.4rem;
    width: 13.2rem;
    height: 15.6rem;
  }

  .keyboard {
    grid-template-columns: repeat(15, 1fr);
  }

  .keyboard-btn {
    padding: 1.6rem;
    font-size: 2.4rem;
  }
}

@media (max-width: 1012px) and (max-height: 440px) {
  .login-register-upper-part {
    padding-bottom: 2rem;
  }

  .login-register h1 {
    font-size: 2.3rem;
  }

  .label-and-input {
    gap: 0.4rem;
  }

  label {
    font-size: 1.4rem;
  }

  input {
    height: 3.4rem;
    font-size: 1.6rem;
  }

  .login-register button {
    padding: 0.7rem 1.4rem;
    font-size: 1.6rem;
  }

  .link-to-start-in-login-register {
    font-size: 1.6rem;
    padding: 0.8rem 1.6rem;
  }

  .login-register-upper-part {
    padding-bottom: 3rem;
  }

  .hangman {
    padding-top: 2rem;
  }

  .new-word-btn {
    width: 8rem;
    font-size: 1.2rem;
  }

  .win-or-lose-message p {
    font-size: 1.3rem;
  }

  .word {
    font-size: 2.4rem;
  }

  .word-outer-span {
    height: 3.8rem;
    width: 2.4rem;
  }
}

@media (max-width: 920px) and (max-height: 400px) {
  .start h1 {
    font-size: 2rem;
  }

  .login-register h1 {
    font-size: 1.7rem;
  }

  .label-and-input {
    gap: 0.3rem;
  }

  label {
    font-size: 1.3rem;
  }

  input {
    height: 3rem;
    font-size: 1.5rem;
  }

  .login-register button {
    padding: 0.6rem 1.2rem;
    font-size: 1.4rem;
  }

  .link-to-start-in-login-register {
    font-size: 1.4rem;
    padding: 0.7rem 1.4rem;
  }

  .login-register-upper-part {
    padding-bottom: 2rem;
  }

  .skeleton-image-container {
    width: 8rem;
    height: 16rem;
  }

  .start-links {
    width: 65%;
  }

  .start-link {
    font-size: 1.4rem;
  }

  .drawing {
    font-size: 0.3rem;
    width: 9.9rem;
    height: 11.7rem;
  }

  .word {
    font-size: 2rem;
  }

  .word-outer-span {
    height: 3.1rem;
    width: 2.1rem;
  }

  .keyboard-btn {
    padding: 1.2rem;
    font-size: 1.8rem;
  }
}

/* 320px borde jag ha koll till */
